body {
  font-size: 16px;
  color: #fff;
  
  font-family: 'Oxygen', sans-serif;
}
#active{
	background-color: antiquewhite;
}

#header-nav{
	/* background-color: #f6b319; */
	background-color: #b5b2b2;
	border-radius: 0;
	border: 0;
}



.navbar-brand h1{  /*Food,LLC*/
	font-family: 'Lora',serif;
	color: black;
	font-size: 1.5em;

	text-transform: uppercase;
	font-weight: bold;

	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 2px;
	

}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}




#nav-list{
	margin-top: 10px;
	background-color: white;
	border: 1px solid black;
}
#nav-list a{
	color: black;
	text-align: center;
}
#nav-list a:hover{
	/* background: #E7E7E7; */
	background-color: antiquewhite ; 
}
#nav-list a span{
	font-size: 1.8em
}

.navbar-header button.navbar-toggle, .navbar-hrader .icon-bar{
	border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle{
	clear: both;
	/* margin-top: -30px; */
}

/* END HEADER */

/*home page*/
#our-menu h1{
	color: black;
	font-weight: bold;
}
.container .jumbotron{
		box-shadow: 0 0 10px #3F0C1F;
		border: 2px solid #3F0C1F;
		background-color: #b5b2b2;
		color: black;
}
/*end home page*/



/********** Large devices only **********/
@media (min-width: 1200px) {
	 .container .jumbotron{
		/* background: url('../image/resto_inside_l.jpg') no-repeat; */
		height: auto;

	}

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  .navbar-brand h1{
		padding-top: 5px;
		font-size: 4vw;
	}
  #logo-img {
    /* background: url('../image/logo-medium1.jpg') no-repeat; */
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */
  /*Home page*/
  .container .jumbotron{
		/* background: url('../image/resto_inside.jpg') no-repeat; */
		height: 558px;
		
	}
	/*end home page*/
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 .container .jumbotron{
		/* background: url('../image/resto_inside.jpg') no-repeat; */
		height: 432px;
	}
	.navbar-brand h1{
		padding-top: 5px;
		font-size: 4.5vw;
	}
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 6vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /*  certi */
    font-size: .7em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* certi logo */
    height: 30px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    /* background-color: #f6b319; */
    background-color: floralwhite;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /*footer*/
  .panel-footer section{
  	margin-bottom: 30px;
  	text-align: center;
  }
  .panel-footer section:nth-child(3){
  	margin-bottom: 0;
  	/*margin already exists on the whole row*/
  }
  .panel-footer section hr{
  	width: 60%;
  }
  /*end footer*/

  /*home page*/
  .container .jumbotron{
		margin-top: 30px;
		padding: 0;
	}

	

/************super small device eg:iPhone 4***************/
@media (max-width: 480px){
	/*header*/
	.navbar-brand h1{
		padding-top: 5px;
		font-size: 7vw;
	}

	/*end header*/
	/*home page*/
	
	.col-xxs-12{
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
		width: 100%;

	}
}
